/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Lato");
@import url("https://fonts.googleapis.com/css?family=Indie+Flower|Old+Standard+TT");
@import url("https://fonts.googleapis.com/css?family=Lato");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 1;
}

h1 {
  font-size: 36px;
  font-weight: 600;
}

p {
  font-size: 18px;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 1;
}

h1 {
  font-size: 36px;
  font-weight: 600;
}

p {
  font-size: 18px;
}

.Content {
  padding: 30px;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

.ulStyle {
  background: #e6e6ff;
  word-break: break-all;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  font-size: 26px;
  border: 2px solid #e6e6ff;
  border-radius: 3px;
  width: 40%;
  -webkit-animation: pulse 2.5s;
          animation: pulse 2.5s;
}

.statusForm {
  text-align: center;
}

.statusFormLabel {
  border: 3px solid #e6e6ff;
  border-radius: 3px;
  padding: 8px 8px 10px 8px;
}

.statusInput {
  border: none;
  width: 600px;
}

.statusInput:focus {
  outline: none;
}

.statusSubmit {
  display: none;
}

.postContent {
  padding-left: 5px;
  font-family: 'Old Standard TT';
  color: #4c1c79;
}

.usernameText {
  left: 10%;
}

.login {
  position: relative;
  display: inline-block;
  left: 41%;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  right: 10%;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.login:hover .dropdown-content {
  display: block;
}

.Header {
  background: #f72262;
  color: white;
  text-align: center;
  padding: 10px;
}

.Header h1 {
  font-family: 'Indie Flower';
}

.Footer {
  background: #EFEFEF;
  padding: 16px;
  text-transform: uppercase;
  position: relative;
  bottom: 0;
  left: 0;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  width: 100vw;
  letter-spacing: .12em;
}

.Footer a {
  color: inherit;
}

@-webkit-keyframes pulse {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes pulse {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.profile-pic {
  position: relative;
  left: 40%;
  width: 60px;
}

.post-username {
  position: relative;
  left: 5px;
  font-size: 13px;
  color: #f72262;
}

.post-time {
  white-space: normal;
  overflow: hidden;
  margin-left: 70%;
  bottom: 1%;
  font-size: 0.9vw;
  color: #dfc0c9;
}
/*# sourceMappingURL=index.css.map */